# dotenv
backend/.env

# Python cache
**/__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
./backend/venv_DagPilot_backend/

# Node.js
frontend/node_modules/

# Caches
.cache/

# Logs
*.log

# Build outputs
dist/
build/

# VSCode settings
.vscode/

# macOS
.DS_Store
backend/.env
