
# Python cache
**/__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
backend/VENV_Backend/

# dotenv
backend/.env

# Node.js
frontend/node_modules/

# Caches
.cache/

# Logs
*.log

# Build outputs
dist/
build/

# VSCode settings
.vscode/

# macOS
.DS_Store
